body {
  font-family: 'Tisa Sans Pro', sans-serif;
  background-image: url("https://media.tenor.com/NQfq1liFH-8AAAAd/byuntear-sad.gif");
  color: #E0228A;
  text-align: center;
  justify-content: center;
  font-size: 1000px;
}


h1 {
  color: #33FFF9;
  font-family: 'Barbie', sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 100px !important;

  padding-bottom: 30px;
}

h2 {
  color: #E0228A;
  font-family: 'Barbie', sans-serif;
  text-align: center;
  font-size: 80px !important;
  font-weight: normal;

}


.Profile-Picture {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;

}

img:hover {
  content: url("https://media.tenor.com/YlI0Hs9CGiEAAAAi/cat.gif");
  border: 1px solid #E0228A;;
}


.btn {
  color: white;
  text-align: center;
  font-size: 20px !important;
  font-weight: normal;

}


@media (max-width: 540px) {

  .Profile-Picture {
    width: 200px;
  height: 200px;
  }
